.App {
    text-align: center;
  }
  
  body {
    padding: 20px;
    background-color: white;
  }
  
  .main {
    background-color: white;
    color: black;
    height: 100%;
    min-height: 100%;
  }
  
  .mainDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .sidebar {
    display: flex;
    background-color: #6eabfa;
    margin-top: 5px;
  }
  
  ul {
    list-style-type: none;
  }
  
  .sidebar-list-styling {
    padding-left: 25px;
    padding-top:10px;
    padding-bottom:10px;
    width: 15%;
    background-color: #6eabfa;
    color: white;
  }
  
  .sidebar-list a {
    color: white;
    padding: 0;

    &:hover {
      color: rgb(235, 4, 4);
    }
  }
  
  .sidebar-route{
    flex: 1;
    padding: 0px;
  }
